body {
	background-color: #35374B;
	color: white;
	font-size: 30px;
}

#stats{
	height: 100%;
	width: 100%;
	font-size: 0;
}

.stat {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 12px;
}

progress::-moz-progress-bar { 
	border: 0px;
	border-radius: 20px;
	background: #48B7B2;
}

progress::-webkit-progress-value {
	border: 0px;
	border-radius: 20px;
	background: #48B7B2;
}

progress { 
	color: #48B7B2;
	border: 0px;
	border-radius: 20px;
}

#magic {
	width: 25%;
}

#population {
	width: 25%;
}

#sword {
	width: 25%;
}

#money {
	width: 25%;
}

.stat-bar {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#scenario {
	display: block;
	width: 100%;
	padding-top: 2%;
	text-align: center;
}

.scenario-element {
	margin-left: auto;
	margin-right: auto;
}


#deck {
	touch-action: none;
	user-select: none;
	display: grid;
	justify-content: center;
}

#deck .card-slot {
	grid-column: 1;
	grid-row: 1;
}

#deck #top-card-container {
	transform-style: preserve-3d;
	display: grid;
}

#deck #top-card-container #top-card {
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	transform: rotateY(180deg);
	grid-column: 1;
	grid-row: 1;
}

#deck #top-card-container #top-card-back {
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	grid-column: 1;
	grid-row: 1;
}

#answer-left {
	display: none;
}

#answer-right {
	display: none;
}
